# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{tex,sty,cls}]
indent_size = 2
trim_trailing_whitespace = false

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{json,jsonc}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{js,ts,jsx,tsx}]
indent_size = 2

[*.{html,css,scss}]
indent_size = 2

[Makefile]
indent_style = tab

